img {
  width: 198px;
  margin-top: 38.25px;
  padding: 0;
  box-sizing: border-box;
  border-style: dotted;
  border-width: 1px;
}

.imageCollection {
  width: 792px;
  height: 612px;
}

.imageCollection2 {
  width: 792px;
  height: 612px;
}