/*Minisizing*/
/*img {
  width: 198px;
  margin-top: 38.25px;
  padding: 0;
  box-sizing: border-box;
  border-style: dotted;
  border-width: 1px;
}

.imageCollection {
  width: 792px;
  height: 612px;
}

.imageCollection2 {
  width: 792px;
  height: 612px;
}*/

/*90% size*/
/*img {
  width: 335.4px;
  margin-top: 68.85px;
  padding: 0;
  box-sizing: border-box;
  border-style: dotted;
  border-width: 1px;
}

.imageCollection {
  width: 1425.6px;
  height: 1101.6px;
}

.imageCollection2 {
  width: 1425.6px;
  height: 1101.6px;
}*/

/*95% size*/
img {
  width: 376.2px;
  margin-top: 100px; /*102.6*/
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 102.6px;
  padding: 0;
  box-sizing: border-box;
  border-style: dotted;
  border-width: 1px;
}

.imageCollection {
  width: 1504.8px;
  height: 1162.8px;
}

.imageCollection2 {
  width: 1504.8px;
  height: 1162.8px;
}

/*Large*/
/*img {
  width: 396px;
  margin-top: 76.5px;
  padding: 0;
  box-sizing: border-box;
  border-style: dotted;
  border-width: 1px;
}

.imageCollection {
  width: 1584px;
  height: 1224px;
}

.imageCollection2 {
  width: 1584px;
  height: 1224px;
}*/

/*OTHERS*/

.imageCollection img:nth-child(-n+4){
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  transform: rotate(180deg);
}

.imageCollection2 img:nth-child(-n+4){
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  transform: rotate(180deg);
}